
/* video stuff */
.about-container-video {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex; /* Use flexbox to help with centering */
    justify-content: center; /* Center horizontally */
    height: auto; /* Adjust height as necessary */
}

.about-container-video video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    position: relative;
    z-index: 0;
    opacity: 0.5; /* Lower the opacity to allow text to stand out */
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the overlay */
    z-index: 1;
    color: white; /* Ensure the text color contrasts well with the video */
    color: #002f56;
}

#top_text {
    font-size: 7vw;
    align-self: center;
}


/* text boxes stuff */

.about-img-text-container {
    overflow: hidden;
    position: relative;
    height: 250px; /* Set a specific height */
    width: 100%;
    background-color: #bcd7e8;
    display: flex; /* Using flexbox to align children side by side */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 20px 0;
    background-color: rgba(0, 47, 86, 0.25);
}

.about-img-text-container {
    display: flex;
    flex-direction: row; 
    flex-grow: 1;
}

.about-img-text-container img {
    min-height: 80%;
    max-height: 100%;
    width: auto;
    padding: 3vw;
    margin: 0 auto;
}

.about-img-text-container h1 {
    color: #333;
    flex-grow: 1;
    text-wrap: pretty;
}

.about-img-text-container p {
    color: #333;
    font-size: 1.2em;
    text-wrap: pretty;
    margin: 0 3vw;
}

.about-link {
    text-decoration: underline;
    color: #333;
    font-size: 1em;
}

.about-link:hover {
    cursor: pointer;
}

/* wide images */
.image-wide-container {
    position: relative;
    display: block; 
    width: 100%; 
}

.wide-image {
    width: 100%;
    opacity: 0.5;
    display: block;
    height: auto; 
}

.centered-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 2vw; 
    color: #002f56;
    text-align: center; 
    width: 100%; 
}

.rc-table {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 2vh;
}

.rc-table table {
    border-collapse: collapse; /* Ensures the table borders are collapsed into a single border */
    margin: auto; /* Centers the table horizontally */
}

.rc-table table td {
    vertical-align: top; /* Aligns content at the top of the cell */
    padding: 10px; /* Adjust padding as necessary */
}

.rc-table ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rc-table li {
    margin-right: 5vw; /* Removes margin */
    transition: transform 0.3s;
}
.rc-table li:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.rc-table h3 {
    margin-top: 0;
    margin-bottom: 10px; /* Space below the header */
}

.rc-table h2 {
    margin-top: 0px;
    margin-right: 5vw; /* Space below the header */
}
