.project-page-container {
    width: 90%;
    margin: 2rem auto;
    display: block; /* Changed from no display to block for clarity */
}

/* Center the image and content */
.project-content-block {
    text-align: center;
}

.project-page-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto 1rem;
    display: block;
}

@media (min-width: 768px) {
    .project-page-image {
        height: 250px;
        width: auto;
        max-width: 90%;
    }
}
