body {
    
    font-family: candara; 
}

.container-video { 
    position:relative;
    text-align: center;
    align-items: center; 
}

.container-video video {
    width: 100%; 
    position: relative;
    z-index: 0;
}

.wide-image {
    width: 100%;
    opacity: 0.5; 
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    left: 31%;
    top: 22%; 
    z-index: 1;
}

#top_text {
    color: #263238;
    font-size: 8vw;
    align-self: center;
}

p {
    margin-left: 5%; 
    margin-right: 5%; 
    background-color: #eceff1; 
    color: #263238;
    padding: 10px 10px; 
    line-height: 1.4; 
}

h2 {
    color: #263238;
}

.gallery{
    display: flex;
    width: auto;
    margin: auto;
    justify-content: center;
}

figure{
    margin: 0;
    padding: 20px 20px;
}

figure img{
    height: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure figcaption{
    padding: 5px 5px; 
    text-align: center;
}

@media screen and (max-width: 600px) {

    figure img{
        height: 125px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    figure figcaption{
        padding: 5px 5px; 
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {

    .container-video video {
        width: 70%;
        position: relative;
        z-index: 0;
    }
    #top_text {
        color: #263238;
        font-size: 5vw;
        align-self: center;
    }
    .overlay {
        position: absolute;
        left: 38%;
        top: 22%; 
        z-index: 1;
    }
    p {
        margin-left: 10%; 
        margin-right: 10%; 
        background-color: #eceff1; 
        color: #263238;
        padding: 10px 10px; 
        font-size: 1.3vw;  
    }
    .wide-image {
        width: 80%;
    }
    figure img{
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}



