.container-top {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 2fr;
    padding-right: 20px; 
    column-gap: 5px;
    background-color: #eceff1; 
}

.container-bottom {
    display: grid; 
    align-items: center; 
    text-align: center; 
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap 5px; 
    margin-left: 10%; 
    margin-right: 10%; 
}

.image-logo {
    max-width:  70%;
    max-height: auto;
    padding: 20px 20px; 
}

.image-tags {
    max-width:  80px; 
    max-height: 80px;
    padding: 20px 20px;
}

.image-tags:hover{
    opacity: 0.6;
}

.text {
    font-size: 2vw;
    letter-spacing: .2px;
    line-height: 1.5;
    color: #263238;
}

@media screen and (max-width: 1500px) {

    .container-top {
        padding: 20px 20px; 
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        background-color: #eceff1; 
    }

}

@media screen and (max-width: 400px) {

    .text {
        font-size: 15px;
        letter-spacing: .2px;
        line-height: 1.5;
        color: #263238;  
    }
}

@media screen and (min-width: 1200px) {
    
    .image-logo {
        max-width:  60%;
        max-height: auto;
        padding-left: 100px;
        /*padding: 20px 20px; */
    }
    .text {
        font-size: 20px;
        letter-spacing: .2px;
        line-height: 1.5;
        padding-right: 200px;
        color: #263238;  
    }
}
