
/* Add a black background color to the top navigation */

.topnav {
    background-color: #37474f;
    overflow: hidden;
    position: relative; 
    text-align: center; 
}

/* Style the links inside the navigation bar */
.topnav a {
    position: sticky; 
    color: #f2f2f2;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: candara; 
    font-size: 17px;
    position: relative;
    margin: auto;  
    /* margin-right: auto;
    /*transform: translate(-50%, -50%);*/
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #cfd8dc;
    color: #263238;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #546e7a;
    opacity: 0.8;
    color: #eceff1;
}

strong {
    padding: 14px 16px;
    font-size: 25px;
    color: #f2f2f2;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {

    strong {

        font-size: 20;
        padding: 10px 5px; 
    }

    .topnav a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding: 10px 3px; 
    }
}
