
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center; 
    position: sticky; 
}

/* Style the links inside the navigation bar */
.topnav a {
    position: sticky; 
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: candara; 
    font-size: 17px;
    position: relative;
    margin: auto;  
    /* margin-right: auto;
    /*transform: translate(-50%, -50%);*/
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {

  .topnav a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
