body {
    font-family: candara; 
}

.grid-container {
    display: grid;
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}

.grid-item {
    text-align: center;
    padding: 5px; 
}

.middle-text {
    margin-left: 5%; 
    margin-right: 5%; 
    background-color: #eceff1; 
    color: #263238;
    padding: 10px 10px; 
}


@media screen and (min-width: 1200px) {

    .grid-container {
        display: grid;
        margin-left: 10%;
        margin-right: 10%; 
        border-top: 1px solid black; 
        border-bottom: 1px solid black; 
    }
    .middle-text {
        margin-left: 10%; 
        margin-right: 10%; 
        background-color: #eceff1; 
        color: #263238;
        padding: 10px 10px; 
    }
}
